# Jasper uses pycharm and this is annoying
.idea/**

# Sometimes a pychache file gets made
__pycache__/**
*.pyc

# Don't track configuration files
*.LoHConfig

# Don't track stored application data
*_MatchList.json
*_MatchData.json
